{% extends 'BlogApp/base.html' %}

{% block content %}
<span style="text-align: justify; color: darkgreen; font-size: large;font-family: Cambria;">Logged in as :: {{user}}</span>
<br><br>
<div class="row" style="background-color: cornsilk;">
    {% include 'dashboard/sidebar.html' %}
    <div class="col-md-9">
        <div class="row">
            <div class="col">
                <div class="card border-default mb-3 ">
                    <div class="card-header text-center text-uppercase font-weight-bold">All Categories </div>
                </div>
                <div class="card-body text-dark">
                    <h5 class="card-title text-center">{{category_count}}</h5>

                </div>
            </div>
            <div class="col">
                <div class="card border-default mb-3 ">
                    <div class="card-header text-center text-uppercase font-weight-bold">All posts </div>
                </div>
                <div class="card-body text-dark">
                    <h5 class="card-title text-center">{{blogs_count}}</h5>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}